<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <h2>Create TODO</h2>
        <form action="/home" method="POST">
            <label for="event">Event Name: </label>
            <input id="event" name="event" autocomplete="off">
            <br>
            <label for="date">Date: </label>
            <input type="date" id="date" name="date">
            <br>
            <label for="time">Time: </label>
            <input type="time" id="time" name="time">
            <br>
            <label for="location">Location: </label>
            <input id="location" name="location">
            <br>
            <label for="description">Description: </label>
            <input id="description" name="description">

            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>