<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share TODO page</title>
    <link rel=" stylesheet" href="../../resources/css/style.css">
</head>

<body>
    <div class="contact">
        <div class="form">
            <h1>Share TODO with...</h1>
            <form action="https://formsubmit.co/willlockhart65@email.com" method="POST">
                <input type="text" name="msg" required placeholder="Message">
                <input type="email" name="email" required placeholder="Email">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="Contact form to email.js"></script>
</body>

</html>