<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <!-- For 'Home' API that navigates to home page if logged in, or login page if not -->
          <a class="nav-link" href='/home'>Home</a>
        </li>

        <li class="nav-item">
          <!-- TODO: For 'todos' API that navigates to the todo page -->
          <a class="nav-link" href='/todos'>ToDo</a>
        </li>

        <li class="nav-item">
          <!-- TODO: For 'notes' API that navigates to the notes page -->
          <a class="nav-link" href='/notes'>Shared</a>
        </li>

        <li class="nav-item">
          <!-- TODO: For 'Log out' API that navigates to the logout page -->
          <a class="nav-link" href='/logout'>Log out</a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto"> <!-- Added a div to contain the settings icon -->
        <a class="nav-link" href="/settings">
          <img src="../../resources/img/settingsIcon.png" alt="Settings" style="width: 40px;">
        </a>
        <a class="nav-link" href="#">
          <img src="../../resources/img/logo.png" alt="Logo" style="width: 40px;">
        </a>
      </div>
    </div>


  </nav>
</header>