<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header h1 {
            font-family: 'Times New Roman', serif;
        }
    </style>
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
    <header class="header">
        <img src="../../resources/css/style.css" alt="Work in Progress Icon">
        <div id="title">
            <h1>Work in Progress</h1>
        </div>
    </header>
{{!-- notes partial --}}
    {{> notes}}
{{!-- todos partial --}}
    {{> todos}}
</body>
</html>

