<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <header class="header">
        <img src="/ProjectSourceCode/src/resources/img/WorkinProgressIcon.png" alt="Work in Progress Icon">
        <h1>Work in Progress</h1>
    </header>
</body>
</html>
