<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header h1 {
            font-family: 'Times New Roman', serif;
        }
    </style>
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
    <div id="homebg">
        <header class="header">
        <div id="title">
            <h1>Work in Progress</h1>
        </div>
        </header>
        {{!-- notes partial --}}
        {{!-- add recent todos and notes to display --}}
        {{> notes}}
        {{!-- todos partial --}}
        {{> todos}}
    </div>
</body>
</html>

