<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header h1 {
            font-family: 'Times New Roman', serif;
        }
    </style>
</head>
<body>
    <header class="header">
        <img src="/ProjectSourceCode/src/resources/img/WorkinProgressIcon.png" alt="Work in Progress Icon">
        <h1>Work in Progress</h1>
    </header>
{{!-- notes partial --}}
    {{> notes}}
{{!-- todos partial --}}
    {{> todos}}
    {{> create_todo}}
</body>
</html>

