<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .header h1 {
            font-family: 'Times New Roman', serif;
        }
    </style>
    {{!-- <link rel="stylesheet" href="/012-07-Work-In-Progress/ProjectSourceCode/src/resources/css/style.css"> --}}
</head>
<body>
    <header class="header">
        <img src="/ProjectSourceCode/src/resources/img/WorkinProgressIcon.png" alt="Work in Progress Icon">
        <h1>Work in Progress</h1>
    </header>
{{!-- notes partial --}}
    {{> notes}}
{{!-- todos partial --}}
    {{> todos}}
</body>
</html>

