<header class="header">
	<img src="./resources/img/WorkinProgressIcon.png" alt="Work in Progress Icon">
	<div id="title">
		<h1>Work in Progress</h1>
	</div>
</header>
{{!-- notes partial --}}
    {{> notes}}
{{!-- todos partial --}}
    {{> todos}}
