{{> message}}
<!-- Message partial above allows error message to display when an incorrect password is inputted
     with valid username -->
<div class = "container">
    <div class="row justify-content-center mt-5">
    <div class ="col-md-6">
        <div class="card">
            <div class="card-body">
        <h2 class="text-center mb-4" style="font-family: 'Times New Roman', serif;">Login</h2>

    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label" style="font-family: 'Times New Roman', serif;">Username</label>
            <input type="text" class="form-control" id="username" name="username" required style="font-family: 'Times New Roman', serif;">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="font-family: 'Times New Roman', serif;">Password</label>
            <input type="password" class="form-control" id="username" name="password" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-100 mb-3" style="font-family: 'Times New Roman', serif;">Login</button>
        </div>
        <div>
            <p class = "text-center" style="font-family: 'Times New Roman', serif;">
                Don't have an account?
                <a href="/register">Register</a>
            </p>
        </div>
    </form>
    </div>
    </div>
    </div>
    </div>
</div>