<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/ProjectSourceCode/src/resources/css/style.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class ="col-md-6">
                <div class="card">
                    <div class="card-body">
                <h2 class="text-center mb-4" style="font-family: 'Times New Roman', serif;">Register</h2>
                <form action="/register" method="POST">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Register</button>
                </form>

                <p>Already have an account? <a href="../pages/login.hbs">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
