<!DOCTYPE html>
<html>

<head>
    <h1 style="text-align: center;">Settings</h1>
</head>

<body>
    <h2 style="text-align: center;">Sorting prefrences </h2>
    <form style="text-align: center;" action="/asc_todo" method="POST">
        <button type="submit">Sort Ascending</button>
    </form>
    <form style="text-align: center;" action="/desc_todo" method="POST">
        <button type="submit">Sort Descending</button>
    </form>
</body>

</html>